@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ysabeau+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(./imagenes/BAKGROUNDDEFINITIVO.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 

}

    .DivContainer{
        background-color: #476262;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .LOGO{
        width: 25%;
        display: flex;
        justify-content: center;
    }


    .DivLeft{
        width: 50%;
    }

    .NavBar{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .DivRight{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .NavEl{
        text-decoration: none;
        font-family:  'Edu SA Beginner', cursive;
        color: #d9b1a0;
        text-shadow: #455b5b 2px 2px;
        text-align:justify;
        font-size: 20px;
    }

    .NavEl:hover{
    font-size: 25px;
    }

    .TitleContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .TITLE{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Satisfy';
        font-size: 450%;
        color: #8fc2e1;
        text-shadow: #8c622f 2px 2px;
    }

    .Text{
        font-size: 25%;
        font-family: 'Edu SA Beginner', cursive;
        color: #8c622f;
        text-shadow: black 1px 1px;
    }

    .GALLERY {
        display: block;
        max-width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    
    .small {
        width: 180px;
        height: auto;
        position: relative;
        margin: 3px;
        padding: 15px;
        border-radius: 5px;
    }

    .small:hover{
        width: 250px;
        filter: grayscale(1);
    }
    
 

